<!-- header section strats -->
<header class="header_section">
    <div class="container-fluid">
       <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.html"><img width="250" src="../static/images/logo.png" alt="#" /></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""> </span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav">
                <li class="nav-item {% if request.path == '/' %} active {% endif %}">
                   <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                {% comment %} <li class="nav-item {% if request.path == '/about/' %} active {% endif %}">
                   <a class="nav-link" href="/about">About</a>
                </li> {% endcomment %}
                <li class="nav-item {% if request.path == '/testimonials/' %} active {% endif %}">
                   <a class="nav-link" href="/testimonials">Testimonial</a>
                </li>
                <li class="nav-item {% if request.path == '/send-feedback' %} active {% endif %}">
                  <a class="nav-link" href="/send-feedback">Feedback</a>
               </li>
                <div class="dropdown">
                  <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Customer
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item links" href="/customerlogin">Login</a>
                    <a class="dropdown-item links" href="/customersignup">Signup</a>
                  </div>
                </div>
                <li class="nav-item {% if request.path == '/contact/' %} active {% endif %}">
                  <a class="nav-link" href="/contact">Contact</a>
               </li>
             </ul>

          </div>
       </nav>
    </div>
</header>
 <!-- end header section -->